<% include ../includes/header.ejs %>
<script>
function addProduct(productId){
  let inputId = "#PROD-" + productId
  let badgeId = "#BAD-" + productId

  $(inputId).attr("value", parseInt($(inputId).val())+1)
  $(badgeId).empty()
  $(badgeId).append($(inputId).val())
}

</script>

<h2 class="basic-title">Choose your Ads</h2>

<form action="/checkout" method="post" class="well" role="form">
  <div class="form-group">

    <label for="selectCustomer">Customer</label>
    <select class="form-control" id="selectCustomer" name="selectCustomer">
      <option>Select customer</option>
      <% customers.map(function(customer){ %>
        <option value="<%= customer.id %>"><%= customer.name %></option>
      <% }) %>
    </select>
  </div>

  <div class="form-group">

    <label for="selectCustomer">Click on the Ad to add to the cart</label>
    <div class="list-group">
      <% products.map(function(product){ %>
        <a href="#" class="list-group-item" onclick="addProduct('<%= product.id %>')"><%= product.name %>
          <span id="BAD-<%= product.id %>" class="badge">0</span>
        </a>
        <input type="hidden" id="PROD-<%= product.id %>" name="PROD-<%= product.id %>" value="0"></input>
      <% }) %>
    </div>
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-success">Checkout
      <span class="glyphicon glyphicon-ok"></span>
    </button>
  </div>

</form>

<% include ../includes/footer.ejs %>
